body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, a {
    font-family:    'Delius', cursive;
}

h1 sup {
    font-size: 0.4em;
}

h1, h2, h3, p {
    color: #fafafa;
    width: 100%;
    line-height: 1.75;
    font-weight: 300;
}

p {
    font-size: 1.5em;
}

.btn.btn-group-justified {
    margin-top: 8px;
}

@media only screen and (min-width : 481px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
}

.bg {
    /* The image used */

    background-image:
        linear-gradient(
          rgba(50, 50, 50, 0.10),
          rgba(50, 50, 50, 0.70)
        ),
        url("/img/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-default {
}

.navbar-default .navbar-brand {
    color: #8c4646;
}

.vertical-center {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.main-content {
    padding-top: 100px;
    color: #fafafa;
}

.start{
    text-align: center;
}

.start .row {
    margin-top: 80px;
}

.round-container {
    padding: 8px;
}

.round-colored-container {
    background-color: rgba(55, 55, 55, 0.25);
    padding: 10px;
    border-radius: 6px;
}

.game-code {
    font-family: monospace;
    font-size: 1.4em;
    letter-spacing: 3px;
}

.players-list {
    list-style-type: none;
    font-size: 1.3em;
    letter-spacing: 2px;
    padding-left: 4px;
    height: 100%;
    margin-bottom: 20px;
}

.players-list .nickname {
    padding-left: 6px;
}

.players-list li {
    padding-bottom: 10px;
    padding-left: 10px;
}

.glyphicon-ok {
    color: #0fbe3f;
}

.glyphicon-time {
    color: #d4c329;
}
