body, html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    padding-top: 25px;
}

h1, a {
    font-family:    'Delius', cursive;
}

h1 sup {
    font-size: 0.4em;
}

h1, h2, h3, p {
    color: #fafafa;
    width: 100%;
    line-height: 1.75;
    font-weight: 300;
}

p {
    font-size: 1.5em;
}

.bg {
    /* The image used */

    background-image:
        linear-gradient(
          rgba(50, 50, 50, 0.10),
          rgba(50, 50, 50, 0.70)
        ),
        url("/img/bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-default {
}

.navbar-default .navbar-brand {
    color: #8c4646;
}

.vertical-center {
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.container-centered {
    max-width: 800px;
    margin: auto;
}

.start{
    text-align: center;
}

.start .row {
    margin-top: 80px;
}
